.header {
    margin: auto 50px;
}

.header .header__inner-container {
    display: table;
    width: 100%;
    color: #637f83;
}

.header .header__logo-container {
    display: table-cell;
    vertical-align: middle;
}

.header .header__menu-container {
    display: table-cell;
    float: right;

}

.header__logo-container .logo {
    font-family: SourceSansProBold;
    font-size: 25px;
    line-height: 1em;
    vertical-align: middle;
    text-decoration: none;
    color: #637f83;
}
