$mobile_width: 760px;

// section variables
$section1_orange: #ec9e03;

// section2 variables
$section2_title_color: #f5c506;
$section2_list_item_color: #7a7a79;

// footer variables
$footer_color: #4c4c4c;
