.header {
  .header__inner-container {
    padding: 2vw;
  }
}

@media screen and (max-width: $mobile_width) {
  .header {
    background: none;
    background-color: #595959;

    .header__inner-container {
      display: flex;
      width: 100%;
      padding: 0;
    }
  }
}
