.icon-area {
  display: flex;
  justify-content: center;
  background: url(../images/icn-area-background.png);

  .icon-area__item {
    padding: 3% 3%;
    text-align: center;
  }

  .item__text {
    text-transform: uppercase;
    font-size: 2vw;
    font-family: "Segoe ui";
    font-weight: lighter;
  }

  .item__image {
    height: 60px;
    margin-bottom: 1vw;
  }
}

@media screen and (max-width: $mobile_width) {
  .icon-area {
    justify-content: space-between;

    .item__image {
      height: 45px;
    }
  }
}
