.logo {
  display: flex;
  align-items: center;
  width: 50%;
  float: left;

  .logo__image {
    width: 11%;
  }

  .logo__text {
    display: inline-block;
    text-transform: uppercase;
    color: white;
  }

  .logo__text--main {
    display: inline-block;
    font-size: 2.5vw;
    font-family: "LucidaSans Italic";
    text-shadow: 0 3px 0 #303030;
  }

  .logo__text--optional {
    display: inline-block;
    font-family: "asapRegular";
    color: #746f67;
    font-size: 1vw;
  }
}

@media screen and (max-width: $mobile_width) {
  .logo {
    justify-content: center;
    width: 30%;

    .logo__image {
      width: 20%;
    }
  }
}
