.logo {
  display: flex;
  align-items: center;

  .logo__image {
    width: 5.5%;
  }

  .logo__text {
    display: inline-block;
    text-transform: uppercase;
    color: white;
  }

  .logo__text--main {
    display: inline-block;
    font-size: 2.5vw;
    font-family: "LucidaSans Italic";
    text-shadow: 0px 3px 0px #303030;
  }

  .logo__text--optional {
    display: inline-block;
    font-family: "asapRegular";
    color: #746f67;
    font-size: 1vw;
  }
}

@media screen and (max-width: $mobile_width) {
  .logo__text--optional {
    display: none;
  }
}
