.section2 {
  background: url(../images/section2-background.png);

  .section2__title {
    font-family: "PTSans Regular";
    color: $section2_title_color;
    text-transform: uppercase;
  }

  .section2__list {
    padding: 4.5% 0 0 7%;
    list-style-image: url(../images/ellipse.png);
  }
}
