.section1 {
  background: url(../images/section1-background.png);
  padding: 5% 7%;

  .section1__inner-container {
    display: flex;
    align-items: stretch;
  }

  .section1__title {
    margin-bottom: 3%;
    text-transform: uppercase;
    font-family: "PTSans Regular";
    font-size: 2.5vw;
    color: white;
  }

  .section1__text {
    padding: 2% 2% 0;
    width: 30%;
    background-color: $section1_orange;
    color: white;
    font-family: "Segoe UI Light";
    font-size: 2vw;
    line-height: 1.5;
  }

  .section1__plus {
    padding-top: 5%;
    position: relative;
    left: 90%;
  }

  .section1__player-container {
    width: 30%;
    margin-right: 3%;
  }

  .small-player {
    height: 100%;
    width: 100%;
  }

  .section1__twitter-container {
    display: flex;
    width: 40%;
    background-color: $section1_orange;
  }

  .twitter-image {
    padding: 3%;
    margin: auto;
  }

  .twitter__plus {
    position: absolute;
    left: 90%;
    margin-top: 15%;
  }

  .twitter__number {
    position: absolute;
    left: 90%;
    color: white;
    margin-top: 1%;
    font-size: 1.7vw;
  }

  .section1__scroll {
    margin: 5% 5% 1%;
    -webkit-appearance: none;
    width: 87%;
    height: 15px;
    background: #fff;
    opacity: 0.6;
    border-radius: 12px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 20%;
    background: #ec9e03;
    border-radius: 6px;
  }

  .section1__tweets-container { display: none; }
}

@media screen and (max-width: $mobile_width) {
  .section1 {
    padding: 0;
    background: none;
    background-color: white;

    .section1__title, .section1__scroll, .twitter__number, .twitter__plus,
    .section1__twitter-container {
      display: none;
    }

    .section1__text {
      margin: 3%;
      width: 50%;
      font-size: 3.5vw;
    }

    .section1__player-container {
      margin: 3% 3% 3% 0;
      width: 50%;
    }

    .section1__tweets-container {
      display: block;
    }
  }
}
