.section1 {
  background: url(../images/section1-background.png);

  .section1__title {
    text-transform: uppercase;
    font-family: "PTSans Regular";
    font-size: 2.5vw;
    color: white;
  }
}
