.social {
    display: table;
    background-color: white;
    color: #637f83;
}

.social__icon-container {
    display: table-cell;
}

.social .social__icon-container {
    float: left;
    margin-top: 3px;
    vertical-align: middle;
}

.social .social__content-container {
    margin-left: 70px;
    padding-left: 31px;
}

.social .content__title {
    margin-bottom: 0;
    font-family: SourceSansProBold;
}

.social .content__text {
    margin-top: 0;
}
