.subscribe {
    background-color: #637f83;
}

.subscribe .subscribe__content-container {
    padding-bottom: 20px;
    color: white;
    border-bottom-style: solid;
    border-color: #597275;
}

.subscribe .subscribe__title {
    font-family: SourceSansProBold;
}

.subscribe .subscribe__twitter {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #597275;
    border-radius: 5px;
    color: white;
}

.subscribe__twitter .twitter__image {
    float: left;
    padding: 20px;
}

.subscribe__twitter .twitter__text {
    color: #b5c7c9;
    font-size: 14px;
}

.subscribe__twitter .twitter__user {
    color: white;
    text-decoration: underline;
}

.subscribe .subscribe__form {
    color: white;
}

.subscribe .form__title {
    margin: 0;
    font-family: SourceSansProBold;
}

.subscribe .form__text {
    font-size: 12px;
    margin: 0 auto;
}

.subscribe .form__image {
    float: left;
    padding-right: 11px;
}

.form__input-container {
    padding-top: 20px;
}

.subscribe .form__input {
    padding-right: 11px;
    width: 75%;
    height: 33px;
    background-color: #597275;
    border: 0;
    border-radius: 4px;
    color: white;
}

.subscribe .form__button {
    width: 20%;
    height: 35px;
    background-color: #597275;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
}
